
body {
  font-family: sans-serif;
  text-align: center;
  margin: 30px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#balance {
  font-size: 18px;
  margin: 10px 0;
}

#withdraw {
  background-color: #ffa726;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px;
  cursor: pointer;
}
